doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/dash.css')
  table.table
    thead.table-dark
      h1 This is the total number of taxis: #{taxiCount}
      tr
        th(scope='col') Firstname
        th(scope='col') Lastname
        th(scope='col') Car Model
        th(scope='col') Car Number Plate
        th(scope='col') Car Color 
        th(scope='col') Date 
        th(scope='col') Time of arrival 
        th(scope='col') Slot Number
        th(scope='col') Delete
        th(scope='col') Edit 
    tbody
    if taxis.length 
      each taxi in taxis
        tr
          td #{taxi.firstname}
          td #{taxi.lastname}
          td #{taxi.model}
          td #{taxi.numberplate}
          td #{taxi.color}
          td #{taxi.date}
          td #{taxi.time}
          td #{taxi.slotnumber}
          td 
              form(action="/api/taxi/delete" method="POST")
                input(type="hidden", name="id", value=taxi._id)
                button.btn.btn-danger(type="submit") Delete 
          td 
              a.btn.btn-warning(href="/api/taxi/edit/"+taxi._id) Edit
              //- a(href=`/api/taxi/edit/${taxi._id}`)

    else 
      p there are no taxis in the database
